[Unit]
Description=Disk Scrubber Service

[Service]
Type=oneshot
WorkingDirectory=/tmp
User=root
Group=root
ExecStart=/opt/server/bin/disk-scrub

[Install]
WantedBy=multi-user.target