[Unit]
Description=Update Server Service

[Service]
Type=oneshot
WorkingDirectory=/tmp
User=root
Group=root
ExecStart=/opt/server/bin/server-update

[Install]
WantedBy=multi-user.target