[Unit]
Description=server update service (runs on timer)

[Service]
Type=oneshot
WorkingDirectory=/tmp
User=root
Group=root
ExecStart=/opt/server/bin/server-update

[Install]
WantedBy=multi-user.target