[Unit]
Description=Creates all Docker containers in stopped state.
Requires=docker.service
After=docker.service
Wants=zfs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/server/bin/docker-create
ExecStop=/usr/bin/docker ps -q | /usr/bin/xargs -r /usr/bin/docker stop
ExecStop=/usr/bin/docker ps -aq | /usr/bin/xargs -r /usr/bin/docker rm -f

[Install]
WantedBy=multi-user.target