[Unit]
Description=Creates all Docker containers in stopped state.
Requires=docker.service
After=docker.service
Wants=zfs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/opt/server/bin/clear-docker
ExecStart=/opt/server/bin/docker-create
ExecStop=/opt/server/bin/clear-docker

[Install]
WantedBy=multi-user.target