[Unit]
Description=Docker-Compose hosting all media services.
Requires=docker.service
After=docker.service
Wants=zfs.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/opt/server/environment
WorkingDirectory=/etc/docker/compose/media-services
ExecStartPre=/usr/bin/docker-compose down -v
ExecStartPre=/usr/bin/docker-compose rm -fv
ExecStartPre=-/usr/bin/docker volume ls -qf name=media-services_ | /usr/bin/xargs -r /usr/bin/docker volume rm
ExecStartPre=-/usr/bin/docker network ls -qf name=media-services_ | /usr/bin/xargs -r /usr/bin/docker network rm
ExecStartPre=-/usr/bin/docker ps -aqf name=media-services_* | /usr/bin/xargs -r /usr/bin/docker rm
ExecStart=/usr/bin/docker-compose up -d
ExecStop=/usr/bin/docker-compose down -v

[Install]
WantedBy=multi-user.target