[Unit]
Description=Service for syncing config files to backup host.
Requires=nfs-client.target zfs.target
After=nfs-client.target zfs.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/bin/rsync -aqHXAp --delete /mnt/shares/* /mnt/backup/shares/

[Install]
WantedBy=multi-user.target