[Unit]
Description=Service for syncing movies to backup host.
Requires=nfs-client.target zfs.target
After=nfs-client.target zfs.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/bin/rsync -aqHXAp --delete /mnt/media/movies/* /mnt/backup/media/movies/

[Install]
WantedBy=multi-user.target