[Unit]
Description=Backup Service
Requires=nfs-client.target zfs.target
After=nfs-client.target zfs.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/opt/server/bin/server-backup

[Install]
WantedBy=multi-user.target