[Unit]
Description=Docker Cleanup Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/bin/docker system prune -f