[Unit]
Description=Disk Scrubber Service
Requires=zfs.target
After=zfs.target

[Service]
Type=oneshot
WorkingDirectory=/tmp
User=root
Group=root
ExecStart=/opt/server/bin/service-scripts/disk-scrub

[Install]
WantedBy=multi-user.target