[Unit]
Description=Update Motd Service
Requires=docker-services.target
After=docker-services.target

[Service]
Type=oneshot
WorkingDirectory=/tmp
User=root
Group=root
ExecStart=/opt/server/bin/service-scripts/motd-update