[Unit]
Description=%i running in Docker

[Service]
Restart=always
ExecStartPre=/opt/server/bin/clear-docker %i
ExecStartPre=/opt/server/bin/service-scripts/fods-startup %i
ExecStartPre=/usr/bin/docker start %i
ExecStartPre=/opt/server/bin/health-check-startup %i
ExecStart=/usr/bin/docker wait %i
ExecStop=/usr/bin/docker stop %i
ExecStop=/usr/bin/docker rm %i