[Unit]
Description=Service running deluge in Docker.
Requires=docker-create.service pia.service
After=docker-create.service pia.service
PartOf=pia.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker start deluge
ExecStartPre=/opt/server/bin/health-check deluge
ExecStart=/usr/bin/docker wait deluge
ExecStop=/usr/bin/docker stop deluge

[Install]
WantedBy=multi-user.target