[Unit]
Description=Service running hydra in Docker.
Requires=docker-create.service pia.service
After=docker-create.service pia.service
PartOf=pia.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker start hydra
ExecStartPre=/opt/server/bin/health-check hydra
ExecStart=/usr/bin/docker wait hydra
ExecStop=/usr/bin/docker stop hydra

[Install]
WantedBy=multi-user.target