[Unit]
Description=Service running jackett in Docker.
Requires=docker-create.service pia.service
After=docker-create.service pia.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker start jackett
ExecStart=/usr/bin/docker wait jackett
ExecStop=/usr/bin/docker stop jackett

[Install]
WantedBy=multi-user.target