[Unit]
Description=Service running nzbget in Docker.
Requires=docker-create.service pia.service
After=docker-create.service pia.service
PartOf=pia.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker start nzbget
ExecStartPre=/opt/server/bin/health-check nzbget
ExecStart=/usr/bin/docker wait nzbget
ExecStop=/usr/bin/docker stop nzbget

[Install]
WantedBy=multi-user.target