[Unit]
Description=Service running nzbget in Docker.
Requires=docker-create.service pia.service
After=docker-create.service pia.service

[Service]
ExecStartPre=/usr/bin/docker start nzbget
ExecStart=/usr/bin/docker wait nzbget
ExecStop=/usr/bin/docker stop nzbget

[Install]
WantedBy=multi-user.target