[Unit]
Description=Service running ombi in Docker.
Requires=docker-create.service plex.service
After=docker-create.service plex.service
PartOf=plex.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker start ombi
ExecStart=/usr/bin/docker wait ombi
ExecStop=/usr/bin/docker stop ombi

[Install]
WantedBy=multi-user.target