[Unit]
Description=Service running pia in Docker.
Requires=docker-create.service
After=docker-create.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -i pia
ExecStop=/usr/bin/docker stop pia

[Install]
WantedBy=multi-user.target