[Unit]
Description=Service running pia in Docker.
Requires=docker-create.service
After=docker-create.service

[Service]
ExecStartPre=/usr/bin/docker start -i pia
ExecStart=/usr/bin/docker wait pia
ExecStop=/usr/bin/docker stop pia

[Install]
WantedBy=multi-user.target