[Unit]
Description=Service running pia in Docker.
Requires=docker-create.service
After=docker-create.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker start pia
ExecStartPre=/opt/server/bin/health-check pia
ExecStart=/usr/bin/docker wait pia
ExecStop=/usr/bin/docker stop pia

[Install]
WantedBy=multi-user.target