[Unit]
Description=Service running samba in Docker.
Requires=docker-create.service
After=docker-create.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker start samba
ExecStartPre=/opt/server/bin/health-check samba
ExecStart=/usr/bin/docker wait samba
ExecStop=/usr/bin/docker stop samba

[Install]
WantedBy=multi-user.target