[Unit]
Description=Service running sonarr in Docker.
Requires=docker-create.service deluge.service nzbget.service jackett.service hydra.service
After=docker-create.service deluge.service nzbget.service jackett.service hydra.service
PartOf=deluge.service nzbget.service jackett.service hydra.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker start sonarr
ExecStart=/usr/bin/docker wait sonarr
ExecStop=/usr/bin/docker stop sonarr

[Install]
WantedBy=multi-user.target